/* mystyle.css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100px;
  .title {
    font-size: 35px;
  }
  .menuBar {
    display: flex;
    position: absolute;
    right: 10%;
    .menu {
      margin-right: 20px;
      border: 1px solid black;
      padding: 5px 15px;
      border-radius: 4px;
      &.sel {
        background-color: blueviolet;
        color: white;
      }
    }
  }
}

.section {
  margin: auto;
  width: 90vw;
  .subTitle {
    display: flex;
    align-items: center;
    .text {
      margin-left: 80px;
      .title {
        font-size: 40px;
        font-weight: 500;
      }
      .describe {
        font-size: 25px;
      }
    }
    .img {
      background-image: url("../img/img1.png");
      width: 375px;
      height: 375px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .img2 {
      background-image: url("../img/img2.png");
    }
    .img3 {
      background-image: url("../img/img3.png");
    }
    .img4 {
      background-image: url("../img/img4.png");
    }
  }
  .mainText {
    font-size: 25px;
    font-weight: 500;
    .d {
      margin-bottom: 8px;
    }

    .d2 {
      width: 95%;
      letter-spacing: 5px;
    }
  }
}
